.alert {
  padding: var(--spacing-3) var(--spacing-4);
  font-size: var(--font-size-sm);
  border-radius: 0;
  border: var(--border-width-thin) solid;
}

.alert--success {
  background-color: var(--color-success-300);
  color: var(--color-success-500);
  border-color: var(--color-success-400);
}

.alert--error {
  background-color: var(--color-error-300);
  color: var(--color-error-500);
  border-color: var(--color-error-400);
}

.alert--warning {
  background-color: var(--color-warning-300);
  color: var(--color-warning-500);
  border-color: var(--color-warning-400);
}

.alert--info {
  background-color: var(--color-info-300);
  color: var(--color-info-500);
  border-color: var(--color-info-400);
}
