html.dark-theme {
  --theme-current: dark;

  --color-primary-100: #030712;
  --color-primary-300: #111827;
  --color-primary-500: #9ca3af;
  --color-primary-700: #e5e7eb;
  --color-primary-900: #f9fafb;

  --color-neutral-100: var(--color-primary-100);
  --color-neutral-300: var(--color-primary-300);
  --color-neutral-500: var(--color-primary-500);
  --color-neutral-700: var(--color-primary-700);
  --color-neutral-900: var(--color-primary-900);

  --color-text-primary: var(--color-primary-900);
  --color-text-secondary: var(--color-primary-500);

  --color-text-on-dark: var(--color-primary-900);
}
